.main-window {
	display: flex;
	justify-content: center;
	align-items:start;
  flex-direction: column;
  margin-top: 1em;
  background-color: white;
  width: 40em;
  padding: 2em;
  border-radius: 25px;

}

.main-window  input {
  width: 99%;
  height: 2em;
}

.addUserBtn {
  margin-top: 1em;
}